---
layout: portfolio-case-study
title: '| Illustrations'
---
<div class="illustrations">
<div class="container">

  <div class="overview-img">
      <img src="/assets/images/illustrations/garbagio.png"
          alt="Garbagio trash can illustrations"
          srcset="/assets/images/illustrations/garbagio@2x.png 2x">
  </div>

    <div class="overview-text">
        <p class="tile-title">Illustrations</p>
        <p>
        </p>
    </div>

</div> <!-- / container -->
{% include explore-more.html %}
</div>
{% include common-header.html %}
