---
layout: portfolio-case-study
title: '| Illustrations'
---
<div class="illustrations">
<div class="container">

  <div class="overview-img">
    <picture>
        <source  media="(min-width: 700px)"
          src="/assets/images/ill-tile.png"
          alt="Illustration of a wall mounted light fixture"
          srcset="/assets/images/ill-tile@2x.png 2x">

        <img
            src="/assets/images/illustrations/ill-hero.png"
            alt="Illustration of a wall mounted light fixture"
            srcset="/assets/images/illustrations/ill-hero@2x.png 2x">

      </picture>
  </div>

    <div class="overview-text">
        <p class="section-title project-title">Illustrations</p>
        <p>
          Simple drawings can instantly explain a complex topic. They can provide energy and personality to interfaces.
        </p>
        <p>
          <p>
            Most of my graphics start off as pencil and paper sketches, then I'll place photos of the sketches in Illustrator and work on stroke weight, color and balance. The more raw and gutter punk, the better.
          </p>
    </div>

    <div class="ktr framed">
        <img src="/assets/images/illustrations/kiss-the-ring.png"
            alt="An illustration of a hand with a ring and a test message of, kiss the ring."
            srcset="/assets/images/illustrations/kiss-the-ring@2x.png 2x">
    </div>

    <div class="garbagio framed">
        <img src="/assets/images/illustrations/garbagio.png"
            alt="An illustration of garbage dumpster with the word, Garbagio on it."
            srcset="/assets/images/illustrations/garbagio@2x.png 2x">
    </div>

    <div class="climbing">
        <img src="/assets/images/illustrations/climbing-stairs.png"
            alt="An illustration of legs in shoes climbing stairs"
            srcset="/assets/images/illustrations/climbing-stairs@2x.png 2x">
    </div>

    <div class="double-digit">
        <img src="/assets/images/illustrations/double-digit.png"
            alt="An illustration of a finger with an extra knuckle."
            srcset="/assets/images/illustrations/double-digit@2x.png 2x">
    </div>

    <div class="double-digit-partner">
        <img src="/assets/images/illustrations/double-digit.png"
            alt="An illustration of a finger with an extra knuckle."
            srcset="/assets/images/illustrations/double-digit@2x.png 2x">
    </div>

</div> <!-- / container -->
{% include explore-more.html %}
</div>
{% include common-footer.html %}
