---
layout: portfolio-case-study
title: '| Perma.cc Case Study'
---
<div class="openbooth">
<div class="container">

  <div class="overview-img">
    <picture>

      <source  media="(min-width: 700px)"
          src="/assets/images/openbooth/openbooth-tile.jpg"
          alt="Photograph of an OpenBooth phone booth"
          srcset="/assets/images/openbooth/openbooth-tile@2x.jpg 2x">

      <img src="/assets/images/openbooth/openbooth-hero.png"
          alt="Photograph of an OpenBooth phone booth"
          srcset="/assets/images/openbooth/openbooth-hero@2x.png 2x">

    </<picture>
  </div>

    <div class="overview-text">
        <p class="section-title project-title">OpenBooth</p>
        <p>
            In this case study we'll step through the process used to define the form and features of OpenBooth.
        </p>
        <p>
            This documents efforts from 2017 to 2019 in Public Good Studio in Menlo Park, California.
        </p>
        <p>
            Get a booth at <a href="https://openbooth.store" target="_blank">OpenBooth.store</a>.
        </p>
    </div>

    <div class="context-head">
        <p class="title section-title">Context</p>
    </div>

    <div class="context-text">
        <p>
          OpenBooth is a phone booth. A piece of occupiable furniture that creates an aural decoupling from surrounding chatter.
        </p>
        <p>
          OpenBooth grew out of a project I started in 2016 at the <a href="https://lil.law.harvard.edu/">Harvard Library Innovation Lab</a>.
        </p>
        <p>
          In 2018, I founded <a href="https://publicgood.studio/" target="_blank">Public Good Studio</a> to fabricate and sell OpenBooths. We currently manufacture OpenBooths in Menlo Park, California.
        </p>
        <p>
          I acted as a Product Designer and an Industrial Designer on this effort.
          </p>

    </div>

    <div class="context-img">
      <img src="/assets/images/openbooth/human-booth.jpg"
          alt="Perma capture page illustrated in a phone display"
          srcset="/assets/images/openbooth/human-booth@2x.jpg 2x">

            <p class="img-desc">
              OpenBooth is human-sized. The fully transparent front door offers privacy and security.
            </p>
    </div>

    <div class="problem-head">
        <p class="title section-title">Problem</p>
    </div>

    <div class="problem-text">
      <p>
        Open offices, libraries and similar working environments often lack single occupancy rooms that support phone calls.
      </p>
      <p>
        In addition, the general construction costs associated with adding booths is prohibitive for many organizations.
      </p>
      <p>We need a booth for phone calls that is fairly priced, and does not require a general contractor.

    </div>

    <div class="problem-img">

            <img src="/assets/images/openbooth/problem.jpg"
                alt="Perma capture page illustrated in a phone display"
                srcset="/assets/images/openbooth/problem@2x.jpg 2x">

                <p class="img-desc">
                  We no longer need phones in phonebooths, but we still need the privacy afforded by the booth.
                </p>
    </div>


    <div class="solution-head">
        <p class="title section-title">Solution</p>
    </div>

    <div class="solution-text">
        <p>
          The spaces for phone calls should be more like furniture than a permanent room - we want to avoid permitting, fire code concerns and construction expenses.
        </p>
        <p>
          The result is a piece of occupiable furniture that can be shipped and relocated on site.
        </p>

    </div>

    <div class="solution-img">
        <img src="/assets/images/openbooth/why.jpg"
            alt="Perma capture page illustrated in a phone display"
            srcset="/assets/images/openbooth/why@2x.jpg 2x"
            class="close-prox">

            <p class="img-desc">
              Step in and call your doctor or remote collaborator.
            </p>
    </div>


    <div class="process-head">
        <p class="title section-title">Process</p>
    </div>

    <div class="process-text">
      <p>
      It’s important to cast a wide net at first - generate a bunch of ideas and potential directions.
      </p>
      <p>
        Once we've generated many good and bad ideas, we begin to narrow until we end up with just one design we can physically prototype.
      </p>
      <p>
        This is the same process used in the <a href="/perma">Perma Case Study</a>.
      </p>
    </div>

    <div class="process-overview-img">
        <img src="/assets/images/process-overview-v2.png"
            alt="Perma logo"
            srcset="/assets/images/process-overview-v2@2x.png 2x">
          <p class="img-desc">
            Avoid local maximums by dialing up the variance.
          </p>
    </div>


    <div class="process-one-text">
        <p class="process-title">Step one</p>
        <p class="process-subtitle">
            Generate a large pool of potential solutions. Go wild. Suspend disbelief.
        </p>
        <p class="process-output">
            Output will consist of 50 or so paper sketches and 3D models.
        </p>
        <p>
          <p>
            Draw many sketches - spend no more than 180 seconds per sketch. Think in wild ways. Let your imagination soar.
          </p>
          <p>
            I made about 70 sketches and models that explored different fundamental starting points for OpenBooth.
          </p>

    </div>

    <div class="process-one-img">
        <img src="/assets/images/openbooth/process-1-sketch.jpg"
            alt="Design process step Two described as organized index cards on the wall"
            srcset="/assets/images/openbooth/process-1-sketch@2x.jpg 2x"
            class="close-prox">

            <p class="img-desc">
                Question the fundamentals. What is a phone booth?
            </p>
    </div>

    <div class="process-one-img-b">
        <img src="/assets/images/openbooth/process-1-model-a.jpg"
            alt="Design process step Two described as organized index cards on the wall"
            srcset="/assets/images/openbooth/process-1-model-a@2x.jpg 2x"
            class="close-prox">

            <p class="img-desc">
                3D modeling in low-fidelity quickly advances your thinking beyond a flat plane.
            </p>
    </div>

    <div class="process-one-img-c">
        <img src="/assets/images/openbooth/process-1-model-b.jpg"
            alt="Design process step Two described as organized index cards on the wall"
            srcset="/assets/images/openbooth/process-1-model-b@2x.jpg 2x"
            class="close-prox">

            <p class="img-desc">
                This model wanted a sliding, wrap-around door.
            </p>
    </div>

    <div class="process-two-text">
        <p class="process-title">Step two</p>
        <p class="process-subtitle">
            Gather similar ideas and approaches.
            Push for new possibilities.
        </p>
        <p class="process-output">
            Output will be a set of inspirational photos and mockups of rough shapes.
        </p>
        <p>
          We want to take the most promising ideas and develop them a little. Let's follow our noses with designs that go beyond paper and pencil.
          </p>
        <p>
          We're still adding and expanding in this step. Continue to suspend disbelief. Avoid focusing on details, things like construction methods and materials are beyond scope.
        </p>
    </div>

    <div class="process-two-img-a">
      <img src="/assets/images/openbooth/process-2-a.jpg"
          alt="Design process step Two described as organized index cards on the wall"
          srcset="/assets/images/openbooth/process-2-a@2x.jpg 2x">

      <p class="img-desc">
        Getting the feel of working in a booth.
      </p>
    </div>

    <div class="process-two-img-b">
      <img src="/assets/images/openbooth/process-2-b.jpg"
          alt="Design process step Two described as organized index cards on the wall"
          srcset="/assets/images/openbooth/process-2-b@2x.jpg 2x">

      <p class="img-desc">
        Should we provide a desk? A stool?
      </p>
    </div>


    <div class="process-three-text">
        <p class="process-title">Step three</p>
        <p class="process-subtitle">
            Sketch low-fidelity interfaces. Examine prior art.
        </p>
        <p class="process-output">
            Output will consist of sketched views and simple scale models.
        </p>
        <p>
          We've reached the middle of the process and now we start to narrow our focus. Let's look at prior art and begin moving with intention.
        </p>
        <p>
          Our minds should be focused on synthesizing and playing with some of the more interesting ideas that have emerged.
        </p>
    </div>

    <div class="process-three-img-a">
      <img src="/assets/images/openbooth/process-3-paper-models.jpg"
          alt="Design process step Two described as organized index cards on the wall"
          srcset="/assets/images/openbooth/process-3-paper-models@2x.jpg 2x"
          class="close-prox">
        <p class="img-desc">
          I used a laser cutter to make 1:12 size paper models of a few interesting elevations.
        </p>
    </div>

    <div class="process-three-img-b">
      <img src="/assets/images/openbooth/process-3-chevron.jpg"
          alt="Design process step Two described as organized index cards on the wall"
          srcset="/assets/images/openbooth/process-3-chevron@2x.jpg 2x">

        <p class="img-desc">
          Sketching out exciting features leads to working knowledge of the potential object.
        </p>
    </div>


    <div class="process-four-text">
        <p class="process-title">Step four</p>
        <p class="process-subtitle">
            Refine and focus. Validate.
        </p>
        <p class="process-output">
            Output will consist of one or two medium-fidelity wireframes.
        </p>
        <p>
          Once we have a feel for our object, we can begin the great translation. Time to dig into model work and form find. We want to think about features that shape the use of the booth.
        </p>
        <p>
          It's a critical time to catch project-blocking bugs by using CAD modeling software - transcribed paper sketches into 3D CAD parts and grouped those parts into five subassemblies.
          </p>

    </div>


    <div class="process-four-img-a">

      <img src="/assets/images/openbooth/process-4-a.jpg"
          alt="Design process step 2 described as organized index cards on the wall"
          srcset="/assets/images/openbooth/process-4-a@2x.jpg"
          class="close-prox">

          <p class="img-desc">
            Elevations of potential booth shapes have been drawn on the wall with orange tape.
          </p>
    </div>

    <div class="process-four-img-b">

      <img src="/assets/images/openbooth/process-4-b.jpg"
          alt="Design process step 2 described as organized index cards on the wall"
          srcset="/assets/images/openbooth/process-4-b@2x.jpg"
          class="close-prox">

          <p class="img-desc">
            Another pass at 1:12 paper models. Thicker paper allowed me to test desks.
          </p>
    </div>

    <div class="process-four-img-c">

      <img src="/assets/images/openbooth/process-4-c.jpg"
          alt="Design process step 2 described as organized index cards on the wall"
          srcset="/assets/images/openbooth/process-4-c@2x.jpg"
          class="close-prox">

          <p class="img-desc">
            Human shapes give scale to these 7" models.
          </p>
    </div>

    <div class="process-four-img-d">

      <img src="/assets/images/openbooth/process-4-d.jpg"
          alt="Design process step 2 described as organized index cards on the wall"
          srcset="/assets/images/openbooth/process-4-d@2x.jpg"
          class="close-prox">

          <p class="img-desc">
            Schematic drawings of potential booth subassemblies.
          </p>
    </div>


    <div class="process-five-text">
        <p class="process-title">Step five</p>
        <p class="process-subtitle">
            Documentaiton, prototyping and handoff.
        </p>
        <p class="process-output">
            Output will consist of scale prototypes and model documentation.
        </p>
        <p>
          As we wrap up the design process, we want to create artifacts that will standardize our booth builds. Construction documentation and notes on machining and materials are core.
        </p>
        <p>
          We'll also start to share the visual assets that will be used in marketing and support materials.
        </p>

    </div>

    <div class="process-five-img-a">
      <img src="/assets/images/openbooth/process-5-a.jpg"
          alt="Design process step 2 described as organized index cards on the wall"
          srcset="/assets/images/openbooth/process-5-a@2x.jpg"
          class="close-prox">

      <p class="img-desc">
          Building a 1:2 model revealed that I had way too many unique pieces in the model.
      </p>
    </div>

    <div class="process-five-img-b">
      <img src="/assets/images/openbooth/process-5-b.jpg"
          alt="Design process step 2 described as organized index cards on the wall"
          srcset="/assets/images/openbooth/process-5-b@2x.jpg"
          class="close-prox">

      <p class="img-desc">
          I made three 1:2 models - each one was a little under four feet tall.
      </p>
    </div>

    <div class="process-five-img-c">
      <img src="/assets/images/openbooth/process-5-c.png"
          alt="Design process step 2 described as organized index cards on the wall"
          srcset="/assets/images/openbooth/process-5-c@2x.png"
          class="close-prox">

      <p class="img-desc">
          An example page from an OpenBooth marketing booklet.
      </p>
    </div>

    <div class="process-five-img-d">
      <img src="/assets/images/openbooth/process-5-d.png"
          alt="Design process step 2 described as organized index cards on the wall"
          srcset="/assets/images/openbooth/process-5-d@2x.png"
          class="close-prox">

      <p class="img-desc">
          The OpenBooth construction documentation visually describes how to assemble a booth.
      </p>
    </div>


    <div class="post-process-head">
        <p class="title section-title">Finished</p>
    </div>

    <div class="post-process-text">
        <p>
            We've wrapped up the design process and have scale models that serve as reference as we begin the production builds.
        </p>
        <p>
          Hardware is hard. We'll need to iterate many times to find efficiencies in our builds.
        </p>
    </div>

    <div class="process-complete-img">
      <img src="/assets/images/openbooth/finished.jpg"
          alt="Design process step 2 described as organized index cards on the wall"
          srcset="/assets/images/openbooth/finished@2x.jpg"
          class="close-prox">
      <p class="img-desc">
        These demo booths ready to provide privacy and focus.
      </p>
    </div>


    <div class="role-head">
        <p class="title section-title">A team</p>
    </div>

    <div class="role-text">
        <p>
          I played the roles of Product Designer and Industrial Designer on this project. This has largely been an independent effort and I intimately know every OpenBooth detail.
        </p>
        <p>
            A tremendous thank you to Nic Schumann and Greg Nemes of <a href="https://workshop.co/" target="_blank">Work-Shop</a> - they showed me how to design and fabricate large furniture objects. Another big thank you to Scott Bennett at <a href="https://www.housefish.com/" target="_blank">Housefish</a> for the graceful mentorship.
        </p>
        <p>
            Thank you to the <a href="https://hls.harvard.edu/library/" target="_blank">Harvard Law School Library</a> for getting me started and funding the initial effort.
        </p>
        <p>
            I wrote the text, drew the illustrations and took the photos that appear on this page. Source can be viewed on <a href="https://github.com/phillipsm/phillips-fun">GitHub</a>.
        </p>
    </div>

    <div class="tools-head">
        <p class="title section-title">Tools</p>
    </div>
    <div class="tools-text">
        <p>
            I used SolidWorks 2018 to generate CAD models, and Autodesk's HSMWorks to generate toolpaths in CAM. I fabricated booths with a 3 axis CNC router controlled by LinuxCNC.
        </p>
        <p>
          Adobe Illustrator and Photoshop were used to generate documentation. GitHub and Jekyll power this <a href="https://github.com/phillipsm/phillips-fun" target="_blank">portfolio site</a>.
        </p>
    </div>
</div> <!-- / container -->
{% include explore-more.html %}
</div> <!-- / scope wrapper -->
{% include common-footer.html %}
