---
layout: portfolio-case-study
title: '| Perma.cc Case Study'
---
<div class="perma">
<div class="container">

  <div class="overview-img">
      <img src="/assets/images/perma-case-study-hero.png"
          alt="Perma.cc logo"
          srcset="/assets/images/perma-case-study-hero@2x.png 2x">
  </div>

    <div class="overview-text">
        <p class="tile-title">Perma Case Study</p>
        <p>
            In this case study we'll walk through the process used to define the interface that displays web archives at Perma.cc.
        </p>
        <p>
            This feature was implemented in 2017 in the Harvard Library Innovation Lab in Cambridge, MA.
        </p>
        <p>
            Create your own web archives at <a href="https://perma.cc">Perma.cc</a>.
        </p>
    </div>

    <div class="context-head">
        <p class="title section-title">Context</p>
    </div>

    <div class="context-text">
        <p>
            Perma.cc is a web service that helps scholars, journals, courts, and others create permanent records of the web sources they cite.
        </p>
        <p>
            It's used by more than half of the law schools in North America, has been used by a US President and the Supreme Court.
        </p>
        <p>
            Perma's core service is simple - input a URL and receive an archive in return. Your archive is stored at an academic or public library and is available forever. No more 404s!
        </p>
        <p>
            I played the roles of Interaction Designer, Full Stack Developer and Product Designer on the Perma.cc team from 2015 to 2017.
        </p>
    </div>

    <div class="context-img">
        <img src="/assets/images/perma-phone.png"
            alt="Perma.cc capture page illustrated in a phone display"
            srcset="/assets/images/perma-phone@2x.png 2x">

            <p class="img-desc">
              Enter any URL and Perma.cc will generate a web archive for you
            </p>
    </div>

    <div class="problem-head">
        <p class="title section-title">Problem</p>
    </div>

    <div class="problem-text">
        <p>
            Presenting an archive of a webpage is a fine balance - you want give the maximum view to the archive replay, but you also need to make it clear that the images and text being displayed are a snapshot from another website.
        </p>
        <p>
            The user is seeking the archive replay and that's it - let's add only the most necassary labels and admin buttons.
        </p>

    </div>

    <div class="problem-img">

            <img src="/assets/images/perma-problem.png"
                alt="Perma.cc capture page illustrated in a phone display"
                srcset="/assets/images/perma-problem@2x.png 2x">

                <p class="img-desc">
                  The web page Perma.cc shows you is a recreation of the original. An archive.
                </p>
    </div>


    <div class="solution-head">
        <p class="title section-title">Solution</p>
    </div>

    <div class="solution-text">
        <p>
          The interface we arrived at uses a thin blue header with a couple of dropdown panels to house admin control and archive metadata.
        </p>
        <p>
          We found that first-time users could quickly navigate and comprehend this pattern. And, it met our engineering requirements of being efficient across devices and displays.
        </p>
    </div>

    <div class="solution-img">
        <img src="/assets/images/perma-solution.png"
            alt="Perma.cc capture page illustrated in a phone display"
            srcset="/assets/images/perma-solution@2x.png 2x">

            <p class="img-desc">
              The end result of this design process and the interface currently in production.
            </p>
    </div>


    <div class="process-head">
        <p class="title section-title">Process</p>
    </div>

    <div class="process-text">
      <p>
        This process is an iterative one. It guides us through a broad range of paths forward and helps avoid arriving at a local maximum.
        </p>
        <p>
          The core thing we're doing here is turning up the variance. We want to produce wild interfaces and then cull the set.
        </p>
        <p>
            This process can be widely applied to software and hardware enhancements. It's served me well for many years over many efforts.
        </p>
    </div>

    <div class="process-overview-img">
        <img src="/assets/images/process-overview-v2.png"
            alt="Perma.cc logo"
            srcset="/assets/images/process-overview-v2@2x.png 2x">
          <p class="img-desc">
            Avoid local maximums through wildness
          </p>
    </div>


    <div class="process-one-text">
        <p class="body-text">Step 1</p>
        <p class="process-subtitle">
            Generate a large pool of potential solutions. Go wild. Suspend disbelief.
        </p>
        <p>
            Output stacks of index cards.
        </p>
        <p>
            Gather two to a few people around a table and quikcly pitch the problem to be solved. Coach the group a little by telling them that this step of the process should additive and encouraging - it's not the time to think critically.
        </p>
        <p>
            Set a timer for five minutes and ask each person to rapidly generate solutions by writing text and drawing sketches on index cards.
        </p>
        <p>
          After the five minute timer rings, ask each person to briefly describe the 3 to 8 cards they've generated. Each round of sketch/share should last no more than 15 minutes total.
        <p>
            Conduct three or so rounds. Keep going for an hour or two until the energy starts to curve down.
          </p>
        <p>
            You'll end up with mostly bad ideas, with a few potential gems mixed in. You want to keep a light mood that's freewheelin and one that resembles an improv comedy performance.
        </p>

    </div>

    <div class="process-one-img">
        <img src="/assets/images/process-card-discussion.jpg"
            alt="Design process step 2 described as organized index cards on the wall"
            srcset="/assets/images/process-card-discussion@2x.jpg 2x">

            <p class="img-desc">
                Exploring wild ideas for Perma.cc features with Harvard colleagues
            </p>
    </div>

    <div class="process-two-text">
        <p class="body-text">Step 2</p>
        <p class="process-subtitle">
            Connect wild ideas.
            Push for new possibilities.
        </p>
        <p>
            Synthesize and make legible
            Organize the wiildness a little so that it’ll spark discussion

            Repeat step one until it feels tired. Three or four rounds of tow or three cards per round is a good mark to hit.

            Cull those ideas down to a handful. In the group, synthesize and flesh out.
        </p>

        <p>
            Output   stacks of cards taped or pinned to a surface
        </p>
    </div>

    <div class="process-two-img">
            <img src="/assets/images/process-cards-synth.jpg"
                alt="Design process step 2 described as organized index cards on the wall"
                srcset="/assets/images/process-cards-synth@2x.jpg 2x">

            <p class="img-desc">
              Three features with a wide range of possibilities. Loads of paper taped on paper.
            </p>
    </div>


    <div class="process-three-text">
        <p class="body-text">Step 3</p>
        <p class="process-subtitle">
            Sketch low fidelity interfaces. Examine prior art.
        </p>
        <p>
            Develop potential directions
            Low and medium fidelity prototypes. Examine prior art.
        </p>
        <p>
            Look at prior art after you've had original thought. Incorporate patterns and clear wins.
        </p>
        <p>
            Make lo-fi sketches that can be tossed around internally. These should be pencil and paper or balsamiq wireframes that do nothing more than present the new interaction.
        </p>
        <p>
            If an idea feels potentially promising, up the fidelity just a little bit with a balsamiq or  InVision
        </p>
        <p>
            Output = stacks of paper loaded with lo-fi sketches
        </p>
    </div>

    <div class="process-three-img-a">
        <img src="/assets/images/perma-wireframe-sketch.jpg"
            alt="Design process step 2 described as organized index cards on the wall"
            srcset="/assets/images/perma-wireframe-sketch@2x.jpg 2x">
            <p class="img-desc">
              Many low fidelity sketches are wireframes are generated in step 2
            </p>
    </div>

    <div class="process-three-img-b">
            <img src="/assets/images/perma-wireframe-sketch-i.jpg"
                alt="Design process step 2 described as organized index cards on the wall"
                srcset="/assets/images/perma-wireframe-sketch-i@2x.jpg 2x">

              <p class="img-desc">
                These wireframes should be loose, quick and wild
              </p>
    </div>

    <div class="process-four-img-a">
        <img src="/assets/images/perma-header-wf.png"
                alt="Design process step 2 described as organized index cards on the wall"
                srcset="/assets/images/perma-header-wf@2x.png 2x">

                <p class="img-desc">
                    Wireframe illustrating the user of a thin header with archive details. The approach we implemented.
                </p>
    </div>

    <div class="process-four-img-b">
      <img src="/assets/images/perma-interstitial-wf.png"
          alt="Design process step 2 described as organized index cards on the wall"
          srcset="/assets/images/perma-interstitial-wf@2x.png">
          <p class="img-desc">
            Wireframe of interstitial page. An approach dropped at this step.
          </p>
    </div>

    <div class="process-four-text">
        <p class="body-text">Step 4</p>
        <p class="process-subtitle">
            Refine and focus.
        </p>
        <p>
            Refine and focus
            Canvas power users, coworkers, test partners and friends to play with sketches.

            This step not only refines and stress tests potential directions, it gets the team on the same page. It clarifies. It provides focus on the best path forward.
        </p>
        <p>
            Output   wireframes, user feedback, focused plan
        </p>
    </div>





    <div class="process-five-text">
        <p class="body-text">Step 5</p>
        <p class="process-subtitle">
            Prototype and build out
        </p>
        <p>
            Prototype and test
            Prototype and revisit the users from the previous step

            Friendly users see an InVision style mockup. If that's touch, they see the feature branch that's been built out by the engineers.

            Take lessons learn. Iterate on any deal breakers and roll out the feature. Build support docs and help the communications team get the word out.
        </p>
        <p>
            Output   high fidelity wireframes, feature and user feedback documentation
        </p>
    </div>

    <div class="process-five-img">
      <video controls muted autoplay loop width="800px">

          <source src="/assets/images/perma-proto.mp4"
                  type="video/mp4">

          Sorry, your browser doesn't support embedded videos.
      </video>
    </div>


    <div class="post-process-head">
        <p class="title section-title">Finish</p>
    </div>

    <div class="post-process-text">
        <p>
            Stay connected as developers, UI designers and product teams begin to focus and deliver the new feature to the users.

            Move onto the next challenge on Perm,a.cc - helping users organize archives across organizations
        </p>
    </div>

    <div class="process-complete-img">
      <div class="iframe-container">
        <iframe src="https://giphy.com/embed/m2Q7FEc0bEr4I"></iframe>
      </div>
      <p class="img-desc">
        Shipped! Next! Thanks for the meme, giphy.
      </p>
    </div>


    <div class="role-head">
        <p class="title section-title">A team</p>
    </div>

    <div class="role-text">
        <p>
            I was fortnuate to build Perma.cc with a team of seven amazing people - one project manager, one UI designer, one communications person and three full stack developers.
        </p>
        <p>
            Our team was led by the brilliant Harvard faculty member, Jonathan Zittrain. &#128591;
        </p>
        <p>
            I wrote the text, drew the illustrations and took the photos that appear on this page. Source can be viewed on <a href="https://github.com/phillipsm/phillips-fun">GitHub</a>.
        </p>
    </div>
</div> <!-- / container -->
{% include explore-more.html %}
</div>
{% include common-header.html %}
