---
layout: portfolio-case-study
title: '| Perma.cc Case Study'
---
<div class="perma">
<div class="container">

  <div class="overview-img">
      <img src="/assets/images/perma-case-study-hero.png"
          alt="Perma.cc logo"
          srcset="/assets/images/perma-case-study-hero@2x.png 2x">
  </div>

    <div class="overview-text">
        <p class="section-title project-title">Perma</p>
        <p>
            In this case study we'll walk through the process used to define the interface that displays web archives at Perma.cc.
        </p>
        <p>
            This feature was implemented in 2017 in the Harvard Library Innovation Lab in Cambridge, MA.
        </p>
        <p>
            Create your own web archives at <a href="https://perma.cc">Perma.cc</a>.
        </p>
    </div>

    <div class="context-head">
        <p class="title section-title">Context</p>
    </div>

    <div class="context-text">
        <p>
            Perma.cc is a web service that helps scholars, journals, courts, and others create permanent records of the web sources they cite.
        </p>
        <p>
            It's used by more than half of the law schools in North America, has been used by a US President and the Supreme Court.
        </p>
        <p>
            Perma's core service is simple - input a URL and receive an archive in return. Your archive is stored at an academic or public library and is available forever. No more 404s!
        </p>
        <p>
            I played the roles of Interaction Designer, Full Stack Developer and Product Designer on the Perma team from 2014 to 2017.
        </p>
    </div>

    <div class="context-img">
        <img src="/assets/images/perma-phone.png"
            alt="Perma capture page illustrated in a phone display"
            srcset="/assets/images/perma-phone@2x.png 2x">

            <p class="img-desc">
              Enter any URL and Perma will generate a web archive for you.
            </p>
    </div>

    <div class="problem-head">
        <p class="title section-title">Problem</p>
    </div>

    <div class="problem-text">
        <p>
          Presenting an archive of a webpage is a fine balance - you want give the maximum view to the archive replay, but you also need to make it clear that the images and text being displayed are a snapshot from another website.
        </p>
        <p>
          Find the fine line.
        </p>

    </div>

    <div class="problem-img">

            <img src="/assets/images/perma-problem.png"
                alt="Perma capture page illustrated in a phone display"
                srcset="/assets/images/perma-problem@2x.png 2x">

                <p class="img-desc">
                  The web page Perma shows you is a replay of an archive.
                </p>
    </div>


    <div class="solution-head">
        <p class="title section-title">Solution</p>
    </div>

    <div class="solution-text">
      <p>
          The user is seeking the archive replay and that's it - we want to add only the most necessary labels and functions.
      </p>
        <p>
          The interface we arrived at uses a thin blue header with a couple of dropdown panels to house admin control and archive metadata. Here's <a href="https://perma.cc/ANH9-VZXH" target="_blank">an example of an archive</a> I created from a Wikipedia page.
        </p>
        <p>
          We found that first-time users could quickly navigate and comprehend this pattern. And, it met our engineering requirements of being efficient across devices and displays.
        </p>
    </div>

    <div class="solution-img">
        <img src="/assets/images/perma-solution.png"
            alt="Perma capture page illustrated in a phone display"
            srcset="/assets/images/perma-solution@2x.png 2x"
            class="close-prox">

            <p class="img-desc">
              An archive of a Wikipedia page displayed with Perma's blue header.
            </p>
    </div>


    <div class="process-head">
        <p class="title section-title">Process</p>
    </div>

    <div class="process-text">
      <p>
        This process is an iterative one. It guides us through a broad range of paths forward and helps avoid arriving at a local maximum.
        </p>
        <p>
          The core thing we're doing here is turning up the variance. We want to produce a large volume of wild ideas and then cull the set.
        </p>
        <p>
            This process can be widely applied to software and hardware enhancements. It's served me well for many years over many efforts.
        </p>
    </div>

    <div class="process-overview-img">
        <img src="/assets/images/process-overview-v2.png"
            alt="Perma logo"
            srcset="/assets/images/process-overview-v2@2x.png 2x">
          <p class="img-desc">
            Avoid local maximums through wildness.
          </p>
    </div>


    <div class="process-one-text">
        <p class="process-title">Step one</p>
        <p class="process-subtitle">
            Generate a large pool of potential solutions. Go wild. Suspend disbelief.
        </p>
        <p class="process-output">
            Output will consist of 50 or so index cards.
        </p>
        <p>
            Gather two to a few team members around a table and quickly pitch the problem to be solved. Prep the group by telling them that this step of the process should be additive and encouraging - it's not the time to think critically.
        </p>
        <p>
            Set a timer for five minutes and ask each person to rapidly generate solutions by writing text and drawing sketches on index cards - everything is definable, from button labels to user touch point definitions to interface sketches.
        </p>
        <p>
            After the five minute timer rings, ask each person to briefly describe the three to six cards they've generated. Each round of sketch/share should last no more than 15 minutes total.
        <p>
            Conduct three or so rounds. Keep going for an hour or two until the energy starts to curve down.
          </p>
        <p>
            You'll produce mostly bad ideas, with a few potential gems mixed in. It's important to keep a light mood that's freewheelin', one that resembles an improv comedy performance.
        </p>

    </div>

    <div class="process-one-img">
        <img src="/assets/images/process-card-discussion.jpg"
            alt="Design process step Two described as organized index cards on the wall"
            srcset="/assets/images/process-card-discussion@2x.jpg 2x"
            class="close-prox">

            <p class="img-desc">
                Generating wild interface ideas with colleagues during a design session.
            </p>
    </div>

    <div class="process-two-text">
        <p class="process-title">Step two</p>
        <p class="process-subtitle">
            Gather similar ideas and approaches.
            Push for new possibilities.
        </p>
        <p class="process-output">
            Output will be a wall full of grouped index cards.
        </p>
        <p>
            We're now sitting in a jungle of potential. We need to comprehend what we've created and organize the promising approaches.
        </p>
        <p>
            We'll nominate a participant from the previous step and ask them, with group guidance, to tape or pin the cards to a surface. We're hoping to generate several groupings of cards that have shared energy.
        </p>
        <p>
            This is an active discussion that will provide an early view of the broad scope of possibilities. Ideally, this step of the process is completed with the same people and in the same day as Step one.
        <p>
        <p>
          We're still adding and expanding in this step. Continue to suspend disbelief and avoid discussing technical implementations of ideas.
        </p>
    </div>

    <div class="process-two-img">
            <img src="/assets/images/process-cards-synth.jpg"
                alt="Design process step Two described as organized index cards on the wall"
                srcset="/assets/images/process-cards-synth@2x.jpg 2x">

            <p class="img-desc">
              Loads of cards organized on paper.
            </p>
    </div>


    <div class="process-three-text">
        <p class="process-title">Step three</p>
        <p class="process-subtitle">
            Sketch low-fidelity interfaces. Examine prior art.
        </p>
        <p class="process-output">
            Output will consist of a few sets of paper-based wireframes.
        </p>
        <p>
          We've reached the middle of the process and now we start to narrow our focus. It's time for the Interaction Designer to produce a sets of wireframes from the generated ideas, with influence from prior art and known best practices.
        </p>
        <p>
          Wireframes can take many different forms in this step - from just one little pop-up menu to a complete flow of screens. Stick to pencil and paper to convey the current low-fidelity, "just an idea," status of the interface.
        </p>
    </div>

    <div class="process-three-img-a">
        <img src="/assets/images/perma-wireframe-sketch.jpg"
            alt="Design process step Two described as organized index cards on the wall"
            srcset="/assets/images/perma-wireframe-sketch@2x.jpg 2x"
            class="close-prox">
            <p class="img-desc">
              Wireframes showing a persistent chat bot interface on top of the Perma archive replay.
            </p>
    </div>

    <div class="process-three-img-b">
            <img src="/assets/images/perma-wireframe-sketch-i.jpg"
                alt="Design process step Two described as organized index cards on the wall"
                srcset="/assets/images/perma-wireframe-sketch-i@2x.jpg 2x"
                class="close-prox">

              <p class="img-desc">
                These wireframes should be pencil and paper. They're just a gesture.
              </p>
    </div>

    <div class="process-four-img-a">

        <img src="/assets/images/perma-header-wf.png"
                alt="Design process step 2 described as organized index cards on the wall"
                srcset="/assets/images/perma-header-wf@2x.png 2x"
                class="close-prox">

        <p class="img-desc">
            Wireframe illustrating the use of a thin header with archive details. The approach we implemented.
        </p>

    </div>

    <div class="process-four-img-b">

      <img src="/assets/images/perma-interstitial-wf.png"
          alt="Design process step 2 described as organized index cards on the wall"
          srcset="/assets/images/perma-interstitial-wf@2x.png"
          class="close-prox">

          <p class="img-desc">
            Wireframe of an interstitial page. An approach dropped at this step.
          </p>

    </div>

    <div class="process-four-text">
        <p class="process-title">Step four</p>
        <p class="process-subtitle">
            Refine and focus. Validate.
        </p>
        <p class="process-output">
            Output will consist of one or two medium-fidelity wireframes.
        </p>
        <p>
          We should now be zeroing in on a couple promising paths - ideas we can refine with power users, testers and internal team members that thoroughly understand the patterns of the customer base.
        </p>
        <p>
          In the case of this Perma feature, we arrived here with two potential interfaces and we needed help. We organized a handful of early adopters and mocked up interactions with them through medium-fidelity wireframes. In person is best, video calls are good too.
        </p>
        <p>
          This step will usually give you confidence in your design and make it clear that you're ready for the next and final step. Sometimes though, user interactions will feel forced and you'll want to refine your initial problem statement and start again.
        </p>
        <p>
            This step not only stress tests potential directions, it gets the team on the same page. It clarifies.
        </p>

    </div>





    <div class="process-five-text">
        <p class="process-title">Step five</p>
        <p class="process-subtitle">
            Documentaiton, prototyping and handoff.
        </p>
        <p class="process-output">
            Output will consist of interactive prototypes and feature documentation.
        </p>
        <p>
          Our primary goal as we wrap up is to support the handoff to the next team by providing detailed notes and passing along critical user requests.
        </p>
        <p>
          It's important to keep the energy strong during the handoff - we want to catch last minute opportunities and spot pitfalls to be avoided.
        </p>

    </div>

    <div class="process-five-img">
      <video controls muted autoplay loop class="close-prox">

          <source src="/assets/images/perma-proto.mp4"
                  type="video/mp4">

          Sorry, your browser doesn't support embedded videos.
      </video>
      <p class="img-desc">
          A recording of the desired interaction. The product team can use high-fidelity prototypes like this as reference.
      </p>
    </div>


    <div class="post-process-head">
        <p class="title section-title">Finished</p>
    </div>

    <div class="post-process-text">
        <p>
          As we ship this feature, let's grab another task in the queue. In the case of Perma, we found that once users could generate and view web archives, they wanted to organize the pile of links they'd created.
        </p>
        <p>
            So, another journey starts with step one and the question of, "what type of admin interface will best support the user as they organize their archives?"
        </p>
    </div>

    <div class="process-complete-img">
        <img src="/assets/images/brent-rambo.gif"
            alt="classic meme of brent rambo giving the thumbs up sign">
      <p class="img-desc">
        Shipped! What's up next?
      </p>
    </div>


    <div class="role-head">
        <p class="title section-title">A team</p>
    </div>

    <div class="role-text">
        <p>
            I was fortunate to build Perma with a team of seven amazing people - one project manager, one UI designer, one communications person and three full stack developers.
        </p>
        <p>
          I played the roles of Interaction Designer, Full Stack Developer and Product Designer for this feature, and generally on the Perma team from 2014 to 2017.
        </p>
        <p>
            Our team was led by the brilliant Harvard faculty member, Jonathan Zittrain. &#128591;
        </p>
        <p>
            I wrote the text, drew the illustrations and took the photos that appear on this page. GIPHY provided the meme. Source can be viewed on <a href="https://github.com/phillipsm/phillips-fun">GitHub</a>.
        </p>
    </div>
</div> <!-- / container -->
</div> <!-- / scope wrapper -->
{% include explore-more.html %}
{% include common-footer.html %}
