<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="icon" href="/assets/images/favicon-32.png" sizes="32x32" />
<link rel="icon" href="/assets/images/favicon-192.png" sizes="192x192" />
<link rel="apple-touch-icon" href="/assets/images/favicon-180.png" />
<meta name="msapplication-TileImage" content="/assets/images/favicon-270.png" />

<meta name="robots" content="noindex">

<title>Matt Phillips {{ page.title }}</title>
<meta name="description" content="The portfolio site of Matt Phillips - an Interaction Designer and Computer Scientist living in the San Francisco Bay Area.">

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-110979652-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-110979652-1');
</script>
