<div class="explore-more-container">
  <div class="title-container">
      <p class="title section-title">Explore more</p>
  </div>

  {% if page.url != '/perma.html' %}
  <div class="perma-tile tile">

    <a href="/perma" class="tile-link">
      <img src="/assets/images/perma-case-study-tile.png"
          alt="Perma.cc logo"
          srcset="/assets/images/perma-case-study-tile@2x.png 2x">
    </a>
    <p class="tile-title"><a href="/perma">Perma Case Study</a></p>
      <p>A case study that walks through the process used to define interactions in this Harvard University web archiving service.</p>
      <p class="tile-desc">Interaction Designer. Full Stack Developer. Product Designer.</p>
  </div>
  {% endif %}

  {% if page.url != '/algo-art.html' %}
  <div class="algo-tile tile">
      <img src="/assets/images/algo-art-tile.png"
          alt="Screen capture of many thin, small lines layered on top of one another"
          srcset="/assets/images/algo-art-tile@2x.png 2x">

      <p class="tile-title">Algorithmic Art</p>
      <p>A focused look at the technical details required to display dynamic visualzations across devices.</p>
      <p class="tile-desc">JavaScript Developer.</p>
  </div>
  {% endif %}

  {% if page.url != '/openbooth.html' %}
  <div class="openbooth-tile tile">
    <a href="/openbooth">
      <img src="/assets/images/openbooth/openbooth-tile.jpg"
        alt="Perma.cc logo"
        srcset="/assets/images/openbooth/openbooth-tile@2x.jpg 2x">
    </a>
    <p class="tile-title"><a href="/openbooth">OpenBooth <br class="mobile-break">Case Study</a></p>

      <p>A journey through the process used to define the form and features of this occupiable furniture product.</p>
      <p class="tile-desc">Product Designer. Industrial Designer.</p>
  </div>
  {% endif %}

  {% if page.url != '/illustrations.html' %}
  <div class="illustration-tile tile">
    <a href="/illustrations">
      <img src="/assets/images/ill-tile.png"
          alt="Illustration of a wall mounted light"
          srcset="/assets/images/ill-tile@2x.png 2x">
      </a>
      <p class="tile-title"><a href="/illustrations">Illustrations</a></p>
      <p>A ragtag gallery of illustrations and graphics from recent projects.</p>
      <p class="tile-desc">Illustrator. Graphic designer.</p>
  </div>
  {% endif %}
</div>
