// our base PGS colors

@font-face {
  font-family: "Walsheim Thin";
  src: url("/assets/fonts/GT-Walsheim-Thin.woff2") format("woff2"), url("/assets/fonts/GT-Walsheim-Thin.woff") format("woff");
}

@font-face {
  font-family: "Walsheim Regular";
  src: url("/assets/fonts/GT-Walsheim-Regular.woff2") format("woff2"), url("/assets/fonts/GT-Walsheim-Regular.woff") format("woff");
}

@font-face {
  font-family: "Walsheim Medium";
  src: url("/assets/fonts/GT-Walsheim-Medium.woff2") format("woff2"), url("/assets/fonts/GT-Walsheim-Medium.woff") format("woff");
}

$purple_balloon: #ff66cc;
$scum_green: #b6e2e9;
$chemical_yellow: #fcf3b0;

$text_color: #333;


$cherry: #ee2348;
//$sky: #b6e2e9;
//$french_vanilla: #fcf3b0;
//$summer_nights: #15133f;

//$cherry_lighter: lighten( $cherry, 10% );
//$text_color: #444;


html {
  font-size: 13px;
}

body {
  background-color: #fff;
  color: $text_color;
  font-size: 1.4rem;
  font-family: 'Walsheim Regular', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 3rem;
}

a, a:link, a:hover, a:active, a:visited, a:focus {
    text-decoration:none;
}

a:link {
    border-bottom: .02em solid $cherry;
    color: $text_color;

}
a:hover {
    color: #444;
    border-bottom: .1em solid $cherry;
}

a:visited {
    border-bottom: .02em solid $cherry;
    color: $text_color;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul p {
    margin-bottom: .5em;
}

.body-text {
    font-size: 2rem;
}

.highlight-inline {
  color: $cherry;
}

.highlight-inline:link {
  color: $cherry;
}

.highlight-inline:visited {
  color: $cherry;
}

p {
    margin: 0 0 1em 0;
}

@mixin canvas-placeholder {
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: block;
    background: #fff;
    filter: drop-shadow(0 0 0.2em #ddd);
}

canvas {
    @include canvas-placeholder;
}

.placeholder-image {
    @include canvas-placeholder;
}




body {
    font-size: 1.6rem;
    color: $text_color;
}

header {
  max-width: 1100px;
  font-family: 'Walsheim Thin', sans-serif;
  display: grid;
  grid-column-gap: 2em;
  grid-row-gap: 6em;
  background-color: #fff;
  margin: 2rem auto;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
  "site-title site-title site-title main-nav";
}



a, a:link, a:hover, a:active, a:visited, a:focus {
    text-decoration:none;
}

a:link {
    border-bottom: .02em solid $cherry;
    color: $text_color;

}
a:hover {
    color: #444;
    border-bottom: .1em solid $cherry;
}

a:visited {
    border-bottom: .02em solid $cherry;
    color: $text_color;
}





.site-title {

  a, a:link, a:hover, a:active, a:visited, a:focus {
      text-decoration:none;
  }

  a:link {
      border-bottom: none;
  }
  a:hover {
      border-bottom: none;
  }

  a:visited {
      border-bottom: none;
  }

}




.site-title {
  grid-area: site-title;
  justify-self: left;
  align-self: center;
  font-family: 'Walsheim Medium', sans-serif;
  font-size:2.8em;
}

.title {
  font-family: 'Walsheim Medium', sans-serif;
  font-size:1.8em;
}

.main-nav {
  grid-area: main-nav;
  justify-self: right;
  align-self: center;
  margin-right: .5rem;

  ul li {
      padding: .3em;
  }
}

.tile-title {
  font-family: 'Walsheim Medium', sans-serif;
  font-size: 1.1em;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.img-desc {
  margin-top: 1em;
  font-family: 'Walsheim Thin', sans-serif;
  font-size: .8em;
}



@media only screen and (max-width: 900px) {

  body {
    font-size: 1.7rem;
  }

  header {
    font-size: 1.2rem;
    margin-bottom: 8rem;

    .main-nav {
      font-size: 1.1em;
    }

  }

  .section-title {
    margin-top: 6rem;
  }

  .img-desc {
    text-align: center;
  }

}
