.perma {

    .container {
      max-width: 1100px;
      display: grid;
      grid-column-gap: 2em;
      grid-row-gap: 6em;
      background-color: #fff;
      margin: 0 auto;
      grid-template-columns: repeat(5, 1fr);
      grid-template-areas:
      "overview-head overview-head overview-img overview-img overview-img"
      "overview-text overview-text overview-img overview-img overview-img"
      "context-head context-text context-text context-img context-img"
      "problem-head problem-img problem-img problem-text problem-text"
      "solution-head solution-text solution-text solution-text ."
      ". solution-img solution-img solution-img solution-img"
      "process-head process-text process-text process-overview-img process-overview-img"
      ". process-one-text process-one-text process-one-text ."
      ". process-one-img process-one-img process-one-img process-one-img "
      ". process-two-text process-two-text process-two-img process-two-img"
      ". process-three-text process-three-text process-three-text ."
      ". process-three-img-a process-three-img-a process-three-img-b process-three-img-b"
      ". process-four-text process-four-text process-four-text ."
      ". process-four-img-a process-four-img-a process-four-img-b process-four-img-b"
      ". process-five-text process-five-text process-five-text ."
      ". process-five-img process-five-img process-five-img process-five-img"
      "post-process-head post-process-text post-process-text process-complete-img process-complete-img"
      "role-head role-text role-text role-text .";
    }

    .overview-head {
        grid-area: overview-head;
    }

    .overview-text {
        grid-area: overview-text;
    }

    .overview-img {
        grid-area: overview-img;
        justify-self: center;
        //height: 100vh;
    }

    .context-head {
        grid-area: context-head;
    }

    .context-text {
        grid-area: context-text;
    }

    .context-img {
        grid-area: context-img;
        justify-self: center;
    }

    .problem-head {
        grid-area: problem-head;
    }

    .problem-text {
        grid-area: problem-text;
    }

    .problem-img {
        grid-area: problem-img;
        justify-self: center;

    }

    .process-head {
        grid-area: process-head;
    }

    .process-overview-img {
        grid-area: process-overview-img;
        jusify-self: center;
    }

    .solution-head {
        grid-area: solution-head;
    }

    .solution-text {
        grid-area: solution-text;
    }

    .solution-img {
        grid-area: solution-img;
        justify-self: center;
        img {

        }
    }

    .process-text {
        grid-area: process-text;
    }



    .process-one-text {
        grid-area: process-one-text;
    }

    .process-one-img {
        grid-area: process-one-img;
    }


    .process-two-text {
        grid-area: process-two-text;
    }

    .process-two-img {
        grid-area: process-two-img;
    }


    .process-three-text {
        grid-area: process-three-text;
    }

    .process-three-img-a {
        grid-area: process-three-img-a;
    }

    .process-three-img-b {
        grid-area: process-three-img-b;
    }


    .process-four-text {
        grid-area: process-four-text;
    }

    .process-four-img-a {
        grid-area: process-four-img-a;
    }

    .process-four-img-b {
        grid-area: process-four-img-b;
    }


    .process-five-text {
        grid-area: process-five-text;
    }

    .process-five-img {
        grid-area: process-five-img;
    }

    .post-process-head {
        grid-area: post-process-head;
    }

    .post-process-text {
        grid-area: post-process-text;
    }


    .process-complete-img {
      grid-area: process-complete-img;
    }

    .role-head {
        grid-area: role-head;
    }

    .role-text {
        grid-area: role-text;
    }


    video {
      border: .08rem solid #cccccc;
      width: 100%;
      height: auto;
    }


    .process-title {
      margin-top: 4rem;
      font-family: 'Walsheim Medium', sans-serif;
      font-size: 1.2em;
    }
    .process-subtitle {
      font-size: .8em;
      margin-top: -1em;
      font-family: 'Walsheim Medium', sans-serif;
    }

    .process-output {
      font-size: .8em;
      font-family: 'Walsheim Medium', sans-serif;
      margin-bottom: 4rem;
    }

    .iframe-container {
      overflow: hidden;
      padding: 0;
      padding-top: 75%;
      position: relative;
    }

    .iframe-container iframe {
       border: 0;
       height: 100%;
       left: 0;
       position: absolute;
       top: 0;
       width: 100%;
    }

    @media only screen and (max-width: 900px) {

        .container {
            grid-template-columns: repeat(2, 1fr);
            grid-column-gap: 1em;
            grid-row-gap: 1em;
            grid-template-areas:
            "overview-img overview-img"
            "overview-head overview-head"
            "overview-text overview-text"
            "context-head context-head"
            "context-text context-text"
            "context-img context-img"
            "problem-head problem-head"
            "problem-text problem-text"
            "problem-img problem-img"
            "solution-head solution-head"
            "solution-text solution-text"
            "solution-img solution-img"
            "process-head process-head"
            "process-text process-text"
            "process-overview-img process-overview-img"
            "process-one-text process-one-text"
            "process-one-img process-one-img"
            "process-two-text process-two-text"
            "process-two-img process-two-img"
            "process-three-text process-three-text"
            "process-three-img-a process-three-img-a"
            "process-three-img-b process-three-img-b"
            "process-four-text process-four-text"
            "process-four-img-a process-four-img-a"
            "process-four-img-b process-four-img-b"
            "process-five-text process-five-text"
            "process-five-img process-five-img"
            "post-process-head post-process-head"
            "post-process-text post-process-text"
            "process-complete-img process-complete-img"
            "role-head role-head"
            "role-text role-text";
        }

        .overview-img {
          margin-bottom: -2rem;
        }

        .title {
          margin-bottom: 0;
        }

        .explore-more-container {
          grid-template-columns: repeat(2, 1fr);
          grid-column-gap: 1em;
          grid-row-gap: 1em;
          grid-template-areas:
          "algo-tile algo-tile"
          "openbooth-tile openbooth-tile"
          "illustration-tile illustration-tile";
        }
    }

}
